body {
    font-family: Arial,  sans-serif; /* Семейство шрифтов */
    font-size: 11px; /* Размер основного шрифта в <p></p>  */
    background-color: #ffffff; /* Цвет фона веб-страницы */
    color: #000000f6; /* Цвет основного текста */ 
}
h1 {
    color: #10b8e6; /* Цвет заголовка */
    font-size: 55px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
h2{
    color: #e70a0a; /* Цвет заголовка */
    font-size: 80px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
h3{

     color: #0ae74c; /* Цвет заголовка */
    font-size: 44px; /* Размер шрифта в пунктах */
    font-family: Georgia, serif; /* Семейство шрифтов */
}
p{
font-size: 30px;   
